{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Modem gsm</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  {%if msg%}
  <div class="alert alert-danger">
    <strong style="font-size:large">{{msg}}</strong>
  </div>
  {%endif%}
  <div class="outer">
    <div class="middle">
      <div class="container">
        <div class="card"></div>
        <div class="card">
          <h1 class="title">Login</h1>
          <form method="POST" action="">
            {% csrf_token %}
            <div class="input-container">
              <input type="#{type}" id="#{label}" required="required" name="username" />
              <label for="#{label}">Username</label>
              <div class="bar"></div>
            </div>
            <div class="input-container">
              <input type="password" id="#{label}" required="required" name="password"/>
              <label for="#{label}">Password</label>
              <div class="bar"></div>
            </div>
            <div class="button-container">
              <button><span>Go</span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
