<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {%block title%}Star Admin{%endblock%}
  <link rel="stylesheet" href="/static/node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css" />

  <link rel="stylesheet" href="/static/css/style_db.css" />
  <link rel="shortcut icon" href="/static/images/favicon.png" />
</head>

<body class="sidebar-icon-only">
  <div class=" container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar navbar-default col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="navbar-menu-wrapper d-flex align-items-center">

        <button class="navbar-toggler navbar-dark navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="col-lg-10 col-12" style="padding-left: 45px;">
          <ul class="nav" >
            <li class="col-3">
              <a class="nav-link" href='/home'>
              <img class="icon-dashboard" src="/static/images/icons/1.png" alt="">
              <span class="menu-title" style ="color:black;font-size:12px">Dashboard</span>
              </a>
            </li>
            <li class="col-2">
              <a class="nav-link" href='/queues'>
              <img class="icon-dashboard" src="/static/images/icons/2.png" alt="">
              <span class="menu-title" style ="color:black;font-size:12px">Queues</span>
              </a>
            </li>
            <li class="col-2">
              <a class="nav-link" href='/messages'>
              <img class="icon-dashboard" src="/static/images/icons/3.png" alt="">
              <span class="menu-title" style ="color:black;font-size:12px">Mensajes</span>
              </a>
            </li>
            <li class="col-2">
              <a class="nav-link" href='/contacts'>
              <img class="icon-dashboard" src="/static/images/icons/5.png" alt="">
              <span class="menu-title" style ="color:black;font-size:12px">Contactos</span>
              </a>
            </li>
            <li class="col-2">
              <a class="nav-link" href="/ping">
              <img class="icon-dashboard" src="/static/images/icons/4.png" alt="">
              <span class="menu-title" style ="color:black;font-size:12px">Ping</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- partial -->
    <div class="container-fluid">
      {% block panel %}{%endblock%}
    </div>

  <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/static/node_modules/popper.js/dist/umd/popper.min.js"></script>
  <script src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/static/node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
  <script src="/static/node_modules/chart.js/dist/Chart.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script>
  var QUEUE_COLORS = [ "#20B2AA", 	"#2F4F4F", 	"#008080", 	"#008B8B", 	"#00FFFF", 	"#00FFFF", 	"#E0FFFF", 	"#00CED1", 	"#40E0D0", 	"#48D1CC", 	"#AFEEEE", 	"#7FFFD4", 	"#B0E0E6", 	"#5F9EA0", 	"#4682B4", 	"#6495ED", 	"#00BFFF", 	"#1E90FF", 	"#ADD8E6", 	"#87CEEB", 	"#87CEFA", 	"#191970", 	"#000080", 	"#00008B", 	"#0000CD", 	"#0000FF", 	"#4169E1", 	"#8A2BE2", 	"#4B0082", 	"#483D8B", 	"#6A5ACD",];
  {%block script%} {%endblock%}
  </script>
</body>

</html>
