{% extends 'base.html'%}
{% load filter_templates %}
{%block title%} Dashboard {%endblock%}


{%block panel%}
{%if msg_fail%}
<div class="alert alert-danger">
  <strong >{{msg_fail}}</strong>
</div>
{%endif%}
{%if msg_success%}
<div class="alert alert-success">
  <strong >{{msg_success}}</strong>
</div>
{%endif%}
<form method="post" action="">
    {% csrf_token %}

  {% for queue,value  in failed.items %}
  {%if forloop.counter|mod:2 == 0 and forloop.counter > 1%}
    </div>
  {% endif %}
  {%if forloop.counter|mod:2 == 0 %}
  <div class="row mb-2">
  {% endif %}
    <div class="col-lg-6 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="row mb-2">
            <div class="col-6" >
            <h5 class="card-title mb-4">Contactos asignados al slot {{queue}} </h5>
            </div>
            <div class="col-6">
            <input type="text" id="myInput_{{queue}}" onkeyup="searchFunction({{queue}})" placeholder="Busca contenido" title="Type in a name">
          </div>
        </div>
        <div class="row mb-2">
          <input type="submit" name="btnMove" id="btnMove" class="btn btn-info mr-2" value="Asignar slot:">
          <select  name="queue_{{queue}}" class="form-control" style="width:70px;display:initial">
                <option value="empty">----</option>
                {%for item in queues%}
                <option value={{item|get_item:"number"}}> {{item|get_item:"number"}} </option>
                {% endfor%}
          </select>
        </div>
            <table class="table table-striped" id="myTable_{{queue}}">
              <thead>
                <tr class="">
                  <th> Seleccionar
                    <input type="checkbox" onclick="for(c in document.getElementsByName('selected_{{queue}}')){
                    var tmp=document.getElementsByName('selected_{{queue}}').item(c); if (!isHidden(tmp.parentElement.parentElement.parentElement))tmp.checked = this.checked}">
                  </th>
                  <th>Contacto</th>
                </tr>
              </thead>
              <tbody>
              {%for contact in value %}
                <tr>
                  <td> <div class="checkbox">
                          <input type="checkbox" name="selected_{{queue}}" class = "normal"  value="{{contact.id}}">
                      </div>
                  </td>
                  <td> {{contact|get_msg_item:"contact"}} </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
  {%endfor%}
  </div>
</form>
{%endblock%}

{%block script%}
$(document).ready(function() {
  {% for queue, value in failed.items%}
    $('#myTable_{{queue}}').DataTable( {
        "scrollY":        "200px",
        "scrollCollapse": true,
        "searching": false,
        "paging":         false
    } );
  {%endfor%}
} );
function isHidden(el) {
    var style = window.getComputedStyle(el);

    console.log((style.display === 'none'));
    return ((style.display === 'none') || (style.visibility === 'hidden'))
}

  function searchFunction(queue_id) {
    var input, filter, table, tr, td, i;
    input = document.getElementById("myInput_"+queue_id);
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable_"+queue_id);
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[2];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
{%endblock%}
