{% extends 'base.html'%}
{% load filter_templates %}
{%block title%} Dashboard {%endblock%}
{%block panel%}
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="content-wrapper">
          <h3 class="page-heading mb-4">Charts</h3>
          <div class="row">
            <div class="col-lg-6 col-12 mb-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title mb-4">Mensajes fallidos</h5>
                  <canvas id="failedChart" style="height:250px"></canvas>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-12 mb-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title mb-4">Mensajes enviados</h5>
                  <canvas id="sentChart" style="height:230px"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-12 mb-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title mb-4">Mensajes encolados</h5>
                  <canvas id="queuedChart" style="height:250px"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
{%endblock%}

{%block script%}
  var failed = "failed";
  var sent ="sent";
  var queued = "queued";
  {% for k,v in data.items %}
  new Chart(document.getElementById({{k}}+"Chart"), {
    type: 'line',
    data: {
      labels: {{v|get_item:"labels"|safe}},
      datasets: [
        {%for queue in v%}
        {%if queue != "labels"%}
          {
          data: {{v|get_item:queue|safe}},
          label: {{queue}},
          borderColor: QUEUE_COLORS[{{queue}}],
          backgroundColor: QUEUE_COLORS[{{queue}}],
          fill: false
        },
        {%endif%}
        {%endfor%}
      ]
    },
    options: {
      responsive: true,
      title: {
        display: false,
      },
      tooltips: {
                      mode: 'index',
                      intersect: false,
                  },
      hover: {
                      mode: 'nearest',
                      intersect: true
                  },
    }
  });
  {%endfor%}


{%endblock%}
